@import './shared/mixins';

#drum-machine {
  height: calc(100vh - 3em);
  padding: 1em;
  display: flex;
  flex-direction: column;
}

#display {
  height: 30%;
}

.drum-pad-container {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;
}

.drum-pad {
  cursor: pointer;
  background-color: purple;
  border-radius: 0.5em;

  @include transition(0.5s);

  &:active {
    background-color: orange;
  }
}